:root {
    /* font */
    --font-nanum: 'Nanum Gothic '
        /* color */
}

html,
body {
    height: 100%;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}

main {
    width: 100%;
}

section {
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.inner {
    max-width: 1300px;
    margin: 0 auto;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    display: block;
}

h2 {
    font-size: 3.5em;
    font-weight: 600;
}

h3 {
    font-size: 3em;
    font-weight: 600;
}

strong {
    font-size: 1em;
    font-weight: 900;
}

p {
    font-weight: (--font-nanum);
    font-size: 1.2em;
    font-weight: 600;
    white-space: wrap;
}

/* 빨간색 밑줄 */
a.underline {
    position: relative;
    position: relative;
    transition: .3s ease-in-out;
}

a.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 0px;
    background-color: red;
    transition: .3s ease-in-out;
}

li:hover>a.underline {
    color: red;
}

li:hover>a.underline::after {
    height: 2px;
    bottom: -10px;
}

a.btn {
    width: 300px;
    height: 66px;
    box-sizing: border-box;
    padding: 3px;
    color: #fff;
    background-color: #db3f3f;
    border: 2px solid;
    border-radius: 50px;
    font-size: 1.3em;
    font-weight: 900;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    transition: .3s;
    
    box-sizing: border-box;;
}

a.btn .material-icons {
    transition: .3s;
}
a.btn:hover{
    padding-left: 20px;
    background-color: #fdfafa;
    color:#db3f3f;
}
a.btn:hover .material-icons {
    transform: translateX(20px)
}

.material-icons {
    font-size: 2.5em;
    padding-top: 4px;
}

.rolling {
    z-index: 8;
    position: absolute;
    top: 100px;
    right: calc(448px/-2);
    animation: rolling 8s infinite linear;

}

@keyframes rolling {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.back-to-position {
    opacity: 0;
    transition: 1s;
}

.back-to-position.to-up {
    transform: translateY(150px);
}

.back-to-position.to-right {
    transform: translateX(-250px);
}

.back-to-position.to-left {
    transform: translateX(250px);
}

.show .back-to-position {
    opacity: 1;
    transform: translateY(0);
}

.show .back-to-position.delay-0 {
    transition-delay: 0s;
}

.show .back-to-position.delay-1 {
    transition-delay: 0.4s;
}

.show .back-to-position.delay-2 {
    transition-delay: 0.6s;
}