/* SLIDE BANNER */
.slide-banner {
    width: 100%;
    height: 1000px;
    padding-top: 100px;
    position: relative;
}

.slide-banner .swiper-container {
    width: 100%;
    height: 100%;
}

.slide-banner .swiper-wrapper .swiper-slide a figure {
    width: 100%;
}

.slide-banner .swiper-wrapper .swiper-slide figure .banner-item {
    width: 100%;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.slide-banner .swiper-pagination {
    text-align: left;
    padding-left: 5em;
}

.slide-banner .swiper-pagination .swiper-pagination-bullet {
    background-color: #000;
    width: 0.9em;
    height: 0.9em;
    margin-right: 1em !important;
}


.slide-banner .slideOn {
    cursor: pointer;
    position: absolute;
    left: calc(50% - 60px);
    min-width: 120px;
    font-size: 1.5em;
    font-weight: bold;
    bottom: .5em;
    z-index: 999;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.slide-banner .slideOn:hover {
    animation: jumping .6s ease-in-out infinite forwards;
}

.slide-banner .slideOn>div {
    font-size: 1.5em;
}

@keyframes jumping {
    0% {
        bottom: 0em
    }

    50% {
        bottom: .5em;
    }

    100% {
        bottom: 0em
    }

}


/* MENU */
.menu {
}

.menu h2 {
    margin-bottom: 100px;
}

.menu .menu__pageNav {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu .menu__pageNav li a.underline {
    font-size: 1.5em;
    font-weight: 500;
}

.menu__list {
    margin-top: 50px;
}

.menu__list .swiper-container a {
    display: block;
    height: 590px;
}

.menu__list .swiper-container .swiper-slide {
    padding-top: 100px;
}

.menu__list .swiper-container a .list {
    position: relative;
    bottom: 0;
    transition: .3s;
    background-color: yellow;
    height: 100%;
    
    overflow: hidden;
}


.menu__list .swiper-container a .list:hover {
    bottom: 100px
}

.menu__list .swiper-container a .list:hover .list__img {
    bottom: -50px;
}

.menu__list .swiper-container .list>span {
    display: block;
    width: 100%;
}

.menu__list .swiper-container .list>span>img {
    width: 100%;
}
.menu__list .swiper-container .list figcaption {
    position: absolute;
    top:10px;
    left:10px
}
.menu__list .swiper-container .list>span.list__title {
    box-sizing: border-box;
    padding-top: 50px;
}

.menu__list .swiper-container .list .list__img {
    position: absolute;
    bottom: -200px;
    transition: .3s;
}